body{ 
     background-color: rgb(255, 212, 148);
}

h1 {
    color: blueviolet;
 }

 div 
 { background-color: aqua;
width: 50vw} 
 
.divrojo { 
    background-color: aquamarine;
}
 #divunico  { background-color: aqua(43, 226, 171);}

 #dibujo{ width: 40vw;
        height:  40vw;
    background-color: rgb(255, 0, 187);
display:flex;
justify-content: center; 
align-items:center;
}

    #cara { width: 60%;
     height: 70%;
    background-color: rgb(227, 211, 191);
     border-radius: 50%;
     position:relative;
    }

    .ojos{ 
        width: 20%;
        height: 20%;
        border-radius: 50%;
        background-color: aliceblue;
         position:absolute;
    }

     #ojoizq { top: 20%;
            left: 20%;

     }


#ojoder{ top: 20%;
    right: 20%;

}
        
#boca { justify-content: center;
        width: 30%;
        height:20%;
        background-color: rgb(227, 58, 58);
        position: absolute;
        top:60%;
        left: 35%;
        border-radius: 0 0 50% 50%;
}

#nariz{ justify-content: center;

width: 40px;
  height: 40px;
  background-color: #ffe5c4; /* Color de piel */
  border-radius: 30%;
  position: relative;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0,5,0, 8); /* Sombra inferior */
  top: 35%;
}

.pupilas{ 
        width: 40%;
        height: 40%;
        border-radius: 50%;
        background-color: rgb(123, 87, 57);
        position:absolute;
    }


    #pupilaizq { top: 20%;
            left: 20%;
     }


#pupilader { top: 20%;
    right: 20%;
    }