body{ 
     background-color: rgba(109, 174, 187, 0.522);
}

h1 {
    color: blueviolet;
    text-align: center;
    font-size: 4em; 
 }

 div 
 { background-color: rgba(0, 255, 255, 0);
width: 50vw} 
 
.divrojo { 
    background-color: rgb(174, 255, 246);
}
 #divunico  { background-color: aqua(43, 226, 171);}

 #dibujo{ width: 40vw;
        height:  40vw;
    background-color: rgb(215, 106, 186);
display:flex;
justify-content: center; 
align-items:center;
  animation-name: cambiarelcolor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes cambiarelcolor{
  0%   {background-color: rgb(117, 42, 108);}
  25%  {background-color: rgba(178, 255, 185, 0.718);}
  50%  {background-color: rgb(114, 208, 255);}
  100% {background-color: rgb(255, 125, 184);}
}

    #cara { width: 60%;
     height: 70%;
    background-color: rgb(227, 211, 191);
     border-radius: 50%;
     position:relative;
    }

    .ojos{ 
        width: 20%;
        height: 20%;
        border-radius: 50%;
        background-color: aliceblue;
         position:absolute;
    }

    

     #ojoizq { top: 20%;
            left: 20%;

     }


#ojoder{ top: 20%;
    right: 20%;

}
        
#boca { justify-content: center;
        width: 30%;
        height:20%;
        background-color: rgb(227, 58, 58);
        position: absolute;
        top:60%;
        left: 35%;
        border-radius: 0 0 50% 50%;
        transition: all 3s; ease-in
}
#boca:hover
{ left: 55%;
  background-color:pink;}


#nariz{ justify-content: center;

width: 40px;
  height: 40px;
  background-color: #ffe5c4; /* Color de piel */
  border-radius: 30%;
  position: relative;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0,5,0, 8); /* Sombra inferior */
  top: 35%;
}

.pupilas{ 
        width: 45%;
        height: 45%;
        border-radius: 50%;
        background-color: rgb(123, 87, 57);
        position:absolute;
    }

    .pupilas:hover{ transform: rotate(360deg) scale(0.6);
    }


    #pupilaizq { top: 20%;
            left: 20%;
     }


#pupilader { top: 20%;
    right: 20%;
    }

    .personaje {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 50px auto;
}
.sombrero { position: absolute; 
top: 0;
transition: all 5s ease-in;
}

.sombrero:hover {
  transform: translateX(-330px);
  
}


.copa {
  width: 100px;
  height: 80px;
  background-color: #333;
  margin: 0 auto;
  border-radius: 10px 10px 0 0; 
  position: relative;
  z-index: 2;
}

.ala {
  width: 160px;
  height: 20px;
  background-color: #333;
  margin: -5px auto 0; 
  border-radius: 50px; 
  position: relative;
  z-index: 2;
}
